* {
    font-family: "Roboto", sans-serif;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
}

img {
    height: 250px;
    width: 250px;
}

.jumbotron {
    background-color: transparent;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #395B64;
}

#gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    background-color: #A5C9CA;
}

#gallery ul {
    list-style: none;
    padding: 0;
}

#gallery h2 {
    color: skyblue;
}

.tools {
    padding: 25px;
    height: 200px;
    border: 5px solid #333333;
    margin: 20px;
    width: 75%;
    color: white;
}

